@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.site-layout-content {
  align-content: center;
  padding: 50px 200px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  min-height: 85vh;
  background-color: #ffffff;
}

.site-layout-content-profile {
  align-content: center;
  padding: 50px 50px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  min-height: 85vh;
  background-color: #ffffff;
}

.site-layout-content button{

  margin: 20px;
  border-radius: 20px;
  height: 50px;
}

.footer {
  text-align: center;
}

.main {
  padding: 100px 250px;
  background-color: #E0E0E0;
}

.main-profile {
  padding: 100px 100px;
  background-color: #E0E0E0;
}
