.ant-btn:empty {
    /*width: 60px;*/
    visibility: visible;
    /*content: '\a0';*/
}

.game-play {
    padding: 100px 50px;
    background-color: #E0E0E0;
}

.site-layout-content-board {
    align-content: center;
    padding: 50px 50px;
    min-width: 600px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-height: 60vh;
    background-color: #ffffff;
    margin: auto;
}

.site-layout-content-board button{
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 50px;
}

.site-layout-content-board .ant-row{
    margin: auto;
    width: 420px;
}

.bordered {
    border: aquamarine 5px solid;
}

.water-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhph1-2.fna.fbcdn.net/v/t1.0-9/103464282_2682096182068205_5987664221771131850_n.jpg?_nc_cat=107&_nc_sid=730e14&_nc_ohc=J-ua0z3zVxcAX8MYaHG&_nc_ht=scontent.fhph1-2.fna&oh=dd5374cc4629e9e623a42d0806c338b3&oe=5F10AA87') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.player1-alive-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/106066195_2688258101452013_4611138131769170817_n.jpg?_nc_cat=109&_nc_sid=730e14&_nc_ohc=IOuOdepASP0AX_TvJqZ&_nc_ht=scontent.fhan3-1.fna&oh=6d0a072f69482c2c0ae763d756d8c1da&oe=5F18BB75') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.player1-exposed-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/106099119_2688258058118684_1506404258189068616_n.jpg?_nc_cat=102&_nc_sid=730e14&_nc_ohc=V0hFTuNbvy4AX9TYANY&_nc_ht=scontent.fhan3-1.fna&oh=c4649e3ae9565a61c53826606bb7a21c&oe=5F1B1327') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.player1-dead-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhph1-1.fna.fbcdn.net/v/t1.0-9/104482296_2682096262068197_9107371210948206400_n.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=e7qrYR0e7qkAX_DCayu&_nc_ht=scontent.fhph1-1.fna&oh=ec6b7d28bdea59f14c5a17037cd23384&oe=5F0E7D01') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.player2-alive-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhph1-2.fna.fbcdn.net/v/t1.0-9/103464282_2682096182068205_5987664221771131850_n.jpg?_nc_cat=107&_nc_sid=730e14&_nc_ohc=J-ua0z3zVxcAX8MYaHG&_nc_ht=scontent.fhph1-2.fna&oh=dd5374cc4629e9e623a42d0806c338b3&oe=5F10AA87') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.player2-exposed-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhph1-1.fna.fbcdn.net/v/t1.0-9/103438772_2682096202068203_3828998270313825515_n.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=s6BNsdJ0QOkAX8jfor5&_nc_ht=scontent.fhph1-1.fna&oh=220aeba31da239479bee09ee14d6d5fd&oe=5F111E62') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}


.player2-dead-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhph1-2.fna.fbcdn.net/v/t1.0-9/83055341_2682096188734871_503825602886094845_n.jpg?_nc_cat=107&_nc_sid=730e14&_nc_ohc=LFxtO-sJwmgAX9FWYzV&_nc_ht=scontent.fhph1-2.fna&oh=45f5bcd4dcb76d85fee99884bed98434&oe=5F0F1296') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.missed-square {
    width: 60px !important;
    height: 60px !important;
    background-image: url('https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/104713257_2688267234784433_40563335394181878_n.jpg?_nc_cat=104&_nc_sid=730e14&_nc_ohc=V-9mhC_DbuIAX9iAG2p&_nc_ht=scontent.fhan4-1.fna&oh=4bb989efc7fc9ac4141b2fae1b3500d8&oe=5F1A4A50') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
